*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hp
*.o
*.prof
*.rollback
.cabal-sandbox/
.hpc
.hsenv
.stack-work/
cabal-dev
cabal.project.local
cabal.sandbox.config
config-test.yaml
dist
dist-*
env
.dir-locals.el
moo-*.cfg
tags
hscope.out
run/
logs/
*.sql
.DS_Store
